*{
    text-align: center;
    margin:0px;
    padding:0px;
}

header{
    width:100%;
    height:50px;
    padding-bottom:30px;
    background-color:rgb(58, 124, 223);
    color:white;
    position: fixed;
    z-index:2;
}

header h1{
    padding-left:20px;
}

.topButton{
    float:left;
    line-height:80px; /*行間の指定*/
    cursor: pointer;
}

.headline{
    height:1200px;
    background-image: url("./photo/S__520912903.jpg");
    background-size:cover;
    opacity:0.7;
}

.headline h1{
    padding-top:500px;
    color:white;
    font-size:100px;
    opacity: 0.8;
}

.headline h2{
    color:white;
    font-size:35px;
    opacity:0.8;
}

.navigation{
    position: fixed;
    z-index:3;
    bottom:0px;
    right:0px;
    width:300px;
    background-color:rgb(143, 209, 240);
    padding:10px 10px;
    border-radius: 10px; /*角を丸くする*/
    cursor:pointer;
    display:inline-block;
    display: none;
}

nav{
    display: none;   
}

.content{
    background-color: rgb(226, 225, 226)
}

.contentTitle{
    padding-top:30px;
    font-size:50px;
    color:white;
}

.content h1{
    color:white;
}

.contents{
    display:flex; /*要素を横並びにする*/
    flex-wrap:wrap;
    padding-bottom:100px;
}

.icon{
    font-size:3em;
}

/* contentsの写真のところ */
.open {
    display:block;
}

.zero, .first, .second, .third, .forth, .fifth{
    padding-top:100px;
    margin:0 auto;
    width:33%;
    position: relative; /*nextとprevのボタンのため*/
}

.zero h1, .first h1, .second h1, .thrid h1, .forth h1, .fifth h1{
    text-align:center;
    padding-bottom:10px;
}

.zero img, .first img, .second img, .third img, .forth img, .fifth img{
    width:60%;
    height:10%;
}

ul{
    list-style: none;
}

/*prev,nextを消したことによって画像をずれないようにする*/
.buttonSelectI:after, .buttonSelect:after, .buttonSelectBlue:after, 
.buttonSelectLondon:after,.buttonSelectP:after, .buttonSelectI:after{
    content:"";
    clear:both;   /*floatプロパティの解除*/
    display:block;
}

.prevI, .prev, .prevBlue, .prevLondon, .prevP, .prevS{
    cursor:pointer;
    float:left;
    display:none;
    position: absolute;;
    z-index:1;
    top:60%;
    left:10%
}

.nextI, .next, .nextBlue, .nextLondon, .nextP, .nextS{
    cursor:pointer;
    float:right;
    position: absolute;;
    z-index:1;
    top:60%;
    left:85%;
}

.slideI, .slide, .slideBlue, .slideLondon, .slideP, .slideS{
    display:none;
}

/* class名にactiveがついたら表示する */
.activeI, .active, .activeBlue, .activeLondon, .activeP, .activeS {
    display: block;
}

.buttonSecondI, .buttonSecond, .buttonSecondBlue, 
.buttonSecondLondon, .buttonSecondP, .buttonSecondS{
    display:inline-block;
    color:rgb(109, 221, 230);
    background-color: rgb(77, 123, 221);
    padding:0 5%;
    cursor:pointer;
}

.contentSecond{
    background-image: url("./photo/01cd25415747db7936a75e646b38930ca4f7a41f5b.jpg");
    background-size:cover;
    height:800px;
}

.location{
    /* 背景画像の上にrgbaを置いて背景画像のみを透過させる */
    background: rgba(255,255,255,0.6); 
    height:800px;
}

.location h1{
    padding-top:10px;
    font-size:50px;
    color:white;
}

.location p{
    margin-top:30px;
    margin-left:30px;
    font-size:20px;
    color:white;
    display:inline-block;
    width:60%;
    background-color:rgba(212, 212, 219, 0.507);
}

.map{
    padding-left:50px;
    padding-top:30px;
    text-align: center;
}

.map video{
    height:400px;
}

.map img{
    height:400px;
    padding-left:30px;
}

.contentThird h1{
    padding-top:30px;
    padding-bottom:30px;
    font-size:50px;
    color:rgb(168, 166, 166);
}

.foods{
    display:flex;
    flex-wrap:wrap;
}

.food{
    flex:auto;
    width:25%;
    padding:0;
}

.foods img{
    width:400px;
    height:300px;
    opacity:0.5;
}

.foods img:hover{
    width:400px;
    height:300px;
    opacity:1;
}

footer{
    width:100%;
    padding-bottom:30px;
    background-color:rgb(58, 124, 223);
    color:white;
    opacity:0.5;
}

footer p{
    padding-top:30px;
}

footer h1{
    padding-left:20px;
    padding-top:20px;
}